@use '../abstracts' as *;

.btn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--clear {
    font-size: 25px;
  }

  &--form {
    margin: 10px auto 0;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    font-size: 18px;
    color: $white;
    background-color: $clover-green;
  }
}
