.btn {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
}

.btn-close {
  margin-left: auto;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer
}