@use '../abstracts' as *;

.card {
  background-color: $white;
  max-width: 700px;
  border-radius: 4px;

  &-header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $lavender-pinocchio;

    &__state {
      padding: 6px 15px;
      border-radius: 4px;
      outline: none;
    }
  }

  &__title {
    margin-right: 20px;
    font-family: $font-bold;
    font-size: 20px;
    line-height: 23px;
    color: $black;
  }

  &-content {
    padding: 20px;
  }

  &--hidden {
    display: none;
  }

  &--bg {
    background-image: linear-gradient(45deg, $butterfly-blue, $clover-green);
  }
}
