@use '../abstracts' as *;

.container {
  margin: 20px 10px;
  display: flex;
  justify-content: space-evenly;
}

.js-col {
  margin: 0 10px;
  flex: 1;
  border: 1px solid $lavender-pinocchio;
  background-color: $desert-storm;
  border-radius: 4px;

  &__title {
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: $font-bold;

    &--todo {
      color: $white;
      background-color: $butterfly-blue;
    }
  
    &--in-progress {
      background-color: $beer;
    }
  
    &--done {
      color: $white;
      background-color: $clover-green;
    }
  
    &--archived {
      background-color: $lavender-pinocchio;
    }
  }

  &__task {
    margin: 20px 15px;
  }

}
