@use '../abstracts' as *;

.form {
  display: flex;
  align-items: center;
  border: 1px solid $grey-goose;
  border-radius: 4px;

  &--add {
    display: block;
    border: none;
  }

  &--login {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    padding: 20px;
    border: none;
  }

  &__input {
    margin: 10px 5px;
    flex-grow: 1;
    border: none;
    outline: none;
    line-height: 19px;
    border-bottom: 0.5px solid $black;

    &--add {
      box-sizing: border-box;
      width: 100%;
      margin: 0 0 10px 0;
      background-color: transparent;
      border-bottom: 0.5px solid $black;
    }
  }

  &__input::placeholder {
    color: $raven;
  }

  &__link {
    align-self: center;
    text-decoration: none;
    color: $white;

    &:hover {
      color: $beer;
    }
  }
}

.input {
  border: 1px solid $black;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: transparent;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    border: 1px solid $white;
    transition: 0.3s ease;
    outline: none;
  }
}
