@use '../abstracts' as *;

.task {
  margin: 10px 0;
  box-shadow: 0 4px 8px 0 $box-shadow;
  width: 100%;
  background: $white;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $grey-goose;
  }

  &-content {
    font-size: 12px;
    padding: 10px;

    &__title {
      line-height: 19px;
      font-size: 16px;
    }
  }
}