@use '../abstracts' as *;


body { 
  color: $black;
  font-family: $font-regular, sans-serif;
  font-size: 16px;
}

.title {
  margin: 10px 0;
  font-size: 18px;
  line-height: 21px;
  font-family: $font-bold;
  color: $raven;
}
