@use '../abstracts/variables' as var;
@use '../abstracts/colors' as color;


body { 
  color: color.$black;
  font-family: var.$font-regular, sans-serif;
  font-size: 16px;
}

.title {
  margin: 10px 0;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-family: var.$font-bold;
  color: color.$raven;

  &--spacing {
    margin-top: 50px;
  }

  &--login {
    color: color.$black;
    font-size: 25px;
    margin: 20px;
  }
}

.desc {
  min-height: 80px;

  &:focus {
    color: color.$clover-green;
    outline: none;
  }
}

.comments {
  padding: 20px 17px;
  font-family: var.$font-regular;
  font-size: 14px;
  line-height: 16px;
  resize: none;
  border: 1px solid color.$grey-goose;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.alert {
  margin-left: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  color: color.$white;
  background-color: color.$beer;
}
