@use '../abstracts' as *;

.header {
  background-color: $white;

  &-container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }

  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__title {
    text-transform: uppercase;
    line-height: 29px;
    font-size: 25px;
    color: $dark-sky-blue;
  }
}