@use '../abstracts/colors' as color;

.header {
  background-color: color.$white;

  &-container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }

  &-link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }
}