$black: #000;
$white: #FFF;
$dark-sky-blue: #4A90E2;
$box-shadow: #00000033;
$grey-goose: #D2D2D6;
$raven: #787885;
$hawkes-blue: #CEE5FF;
$butterfly-blue: #40A9FF;
$beer: #FFB41F;
$clover-green: #43A047;
$lavender-pinocchio: #CECECF;
$mercury: #E5E5E5;
$desert-storm: #F8F8F8;
$pinkish-red: #FF3F62;
$pink: #FD4659;
$pale-rose: #FEC1C7;